<a href="https://colab.research.google.com/github/Akshiiiita/Machine-Learning/blob/main/If_else_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#if else(condition statement)

Simple if else statement

In [1]:
a = 30
b = 50
if(a>b):
  print("a is the greatest number")
else:
  print("b is the greatest number")

b is the greatest number

In [2]:
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
if(a>b):
  print("a is the greatest number")
else:
  print("b is the greatest number")

Enter the first number40
Enter the second number20
a is the greatest number

if elif else statement

In [3]:
a = 20
b = 49
c = 30
if(b<a>c):
  print("a is the greater number")
elif(a<b>c):
  print("b is the greater number")
else:
  print("c is the greater number")

b is the greater number

nested if statement

In [4]:
a = 20
b = 30
c = 50
if(a>b):
  if(a>c):
    print("a is greater number")
  else:
    print("c is greater number")
else:
  if(b>c):
    print("b is the greater number")
  else:
    print("c is the greater number")

c is the greater number

#Loop statement

for loop

In [5]:
laptop1 = int(input("Enter the price of laptop: "))
laptop2 = int(input("Enter the price of laptop: "))
laptop3 = int(input("Enter the price of laptop: "))
laptop4 = int(input("Enter the price of laptop: "))
laptop5 = int(input("Enter the price of laptop: "))

Enter the price of laptop: 10000
Enter the price of laptop: 20000
Enter the price of laptop: 24000
Enter the price of laptop: 45000
Enter the price of laptop: 55000

In [6]:
for i in range(5): #0,1,2,3,4
  laptop_price = int(input("Enter the price of laptop: "))

Enter the price of laptop: 10000
Enter the price of laptop: 200000
Enter the price of laptop: 30000
Enter the price of laptop: 40000
Enter the price of laptop: 500000

In [7]:
numbers = [50,60,70,80]
for i in numbers:
  print(i)

50
60
70
80

while loop

In [8]:
i = 0
while i<10:
  print(i)
  i +=1

0
1
2
3
4
5
6
7
8
9

In [9]:
i = 5
while i<3:
  print(i)
  i += 1
  # written nothing