<a href="https://colab.research.google.com/github/Akshiiiita/Machine-Learning/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python


1.   Arithmetic Operators
2.   Assignment Operators
3.   Comparison Operators
4.   Logical Operators
5.   Identity Operators
6.   Membership Operators

Arithmetic Operators

In [1]:
num1 = 20
num2 = 10

# addition
sum = num1 + num2
print("sum = ",sum)

# subtraction
diff = num1 - num2
print("difference = ",diff)

# multiplication
mul = num1 * num2
print("multiplication = ",mul)

# division
div  = num1 / num2
print("division  = ",div)

# exponent
exp = num1**num2
print("exponent = ",exp)

# modulus
mod = num1 % num2
print("reminder = ",mod)

sum =  30
difference =  10
multiplication =  200
division  =  2.0
exponent =  10240000000000
reminder =  0

Assignment Operators

In [2]:
a = 5
print(a)

5

In [3]:
a+=5
print(a)
b = 2
b-=2
print(b)

10
0

Comparison Operators

In [4]:
a = 5
b = 3

print(a == 5)
print(a <= b)
print(a != b)
print(a > b)

True
False
True
True

Logical Operators

In [5]:
a = 10

print(a>20 and a<5)
print(a<20 or a<5)
print(not(a>20 and a<5))

False
True
True

Identity Operators

In [6]:
x = 5
y = 5

print(x is y)
print(x is not y)

True
False

Membership Operators

In [7]:
a = 5
b = 10
c = [1,2,3,4,5]

print(a in c)
print(b not in c)

True
True