<a href="https://colab.research.google.com/github/Akshiiiita/Machine-Learning/blob/main/Python_Basics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic data types in python:


1.   Integer
2.   Floatiing point
3.   Complex
4.   Boolean
5.   String

In [2]:
# complex data type
a = 2+3j
print(a)
type(a)

(2+3j)

complex

In [3]:
# slicing in string
string = "Programming"
print(string[1:5]) # values from 1 to 5-1 will be slice

rogr

In [4]:
print(string[0:10:2])

Pormi

Types of Objects in python


1.   Immutable Objects
2.   Mutable Objects

Immutable Objects:


1.   int
2.   float
3.   string
4.   bool
5.   tuple

Mutable Objects:


1.   List
2.   Set
3.   Dictonary

#List

In [5]:
# list should be included in the square bracets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [6]:
# lists can have multiple data types
my_list = [2,3,4.8,"English",True]
print(my_list)

[2, 3, 4.8, 'English', True]

In [7]:
# list are mutable i,e changeable
# add element to a list
my_list = [2,3,4.8,"English",True]
my_list.append(6)
print(my_list)

[2, 3, 4.8, 'English', True, 6]

In [8]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
4.8

In [9]:
# lists allow duplicate vaues
list1 = [1,2,3,4,5,12,2,3]
print(list1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [10]:
print(len(list1))

8

In [11]:
# initiating an empty list
list2 = []
print(list2)

[]

In [13]:
list2.append(5)
print(list2)

[5]

In [14]:
# delete an item in a list
list2 = [2, 3, 4.8, 'English', True, 6]
print(list2)
del list2[2]
print(list2)

[2, 3, 4.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [15]:
# join two lists
list3 = [1,2,3,4,5]
list4 = [6,7,8,9]
list5 = list3+list4
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#Tuple

In [16]:
tuple1 = (2,3,4,5)
print(tuple1)
type(tuple1)

(2, 3, 4, 5)

tuple

In [17]:
# tuple allows multiple data types
tuple2 = (1,2,3.5,"Akshita")
print(tuple2)

(1, 2, 3.5, 'Akshita')

In [18]:
# converting a list to a tuple
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [19]:
print(my_tuple[0])
print(my_tuple[2])

3
5

In [20]:
# tuples are immutable i,e non-changeable
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
print(len(my_tuple))

4

#Set

In [22]:
# set ----> curly brackets
my_set = {1,2,3,4}
print(my_set)
type(my_set)

{1, 2, 3, 4}

set

In [23]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [24]:
# convert a list to a set
list6 = [4,5,6,7,8]
x = set(list6)
print(x)

{4, 5, 6, 7, 8}

In [25]:
# set does not allow duplicate values
set3 = {1,2,3,4,5,2,3}
print(set3)

{1, 2, 3, 4, 5}

#Dictionary

In [26]:
# have key-value pair
my_dict = {"name": "Akshita", "age": 18, "country": "India"}
print(my_dict)
type(my_dict)

{'name': 'Akshita', 'age': 18, 'country': 'India'}

dict

In [27]:
print(my_dict["name"])
print(my_dict["age"])
print(my_dict["country"])

Akshita
18
India

In [28]:
# dictionary does not allow duplicate values
dict1 = {"name": "Akshita", "age": 18, "country": "India","name": "Akshita", "age": 18, "country": "India"}
print(dict1)

{'name': 'Akshita', 'age': 18, 'country': 'India'}